
.height-100{
    height: 100%;
}

.height-90{
    height: 90%;
}

.height-10{
    height: 10%;
}

.height-20{
    height: 20%;
}

.height-30{
    height: 30%;
}

.height-70{
    height: 70%;
}

.height-80{
    height: 80%;
}

.vertical-scroll{
    overflow-y: auto; 
}

.title{
    color: #1d1d1d;
    font-weight: bold;
    font-size: 200%;

}


.video{
    border: 2px dotted #9d2e3e;
    border-radius: 5px;
    margin: 20px;
}

