div#liste {
    float: left;
    width: 160px;
    margin-right: 10px;
    background: lightblue;
}
div#item {
    float: right;
    width: 300px;
    margin-left: 10px;
    background: burlywood;
}
div#pics {
    overflow: hidden;
    background: khaki;
}