.height-100{
    height: 100%;
}

.video{
    border: 0px solid rgba(253, 255, 255, 0);
    border-radius: 5px;
    padding: 20px;
}

.browsdiv {
     overflow: auto;
     max-height: 100vh;
 }

.overflow-scrolling {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:95vh;
}