.height-100{
    height: 100%;
}

.dnd{
    margin-top: 50px;
    color: #9d2e3e;
    font-weight: bold;
    font-size: 200%;
    border: 2px dotted #9d2e3e;
    border-radius: 5px;
}

.video{
    border: 2px dotted #9d2e3e;
    border-radius: 5px;
    padding: 20px;
}

.dialogButton {
    margin:10px;
    float: right;
}

.listtype{
    width:200px;
}

.type{
     width:100px;
 }

.newContent {
    color: #353435;
    font-weight: bold;
    font-size: 200%;
}

.button-right{
    float:right;
    background-color: #3a8ccf;
    border-radius: 5px;
    color:white;
    padding: 10px;
    margin:10px;
}

.addcontent{
    margin-top:50px;
}